@tailwind base;
@tailwind components;
@tailwind utilities;

.add-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.review-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-rating {
  display: flex;
  gap: 5px;
}

.form-group textarea {
  width: 300px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  resize: none;
}