@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.add-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.review-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; 
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-rating {
  display: flex;
  gap: 5px;
}

.form-group textarea {
  width: 300px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  resize: none; 
}
